# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
dev-requirements.txt
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Installer artifacts
*.spec

# Lock files
uv.lock

# Local settings
settings.json

# Ignore app icon
app.ico

# Ignore project-specific data
software_groups.json
